/*html */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background-color: rgb(42, 42, 42);
    flex-direction: column;
    overflow: scroll;
}

.btn {
    border-radius: 4px;
}

a {
    outline: none !important;
}

section {
    padding: 3rem 0;
}

h2 {
    font-family: 'Libre Baskerville', serif;
}

/* landing */
.landing,
.prices {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(0, 100, 160);
    color: #ffffff;
    width: 100vw;
    min-height: 100vh;
}

.prices .card {
    color: #000;
}

.priceText {
    font-family: 'Libre Baskerville', serif;
}

.prices .mbtn {
    background-color: rgb(20, 70, 89);
    color: #fff;
}

.span-land {
    color: #000;
}

.mbtn {
    background-color: #ffffff;
    color: #000000;
}

/* how section */
.how {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ffffff;
    width: 100vw;
    min-height: 100vh;
}

/* footer */
.span-text {
    color: rgb(102, 184, 217) !important;
}

.icon {
    height: 100px;
    width: 100px;
}

.footer-icon {
    height: 50px;
    width: 50px;
    background-color: white;
}

.page-footer {
    color: #ffffff;
}

.page-footer ul {
    list-style-type: none;
}

.contact-section {
    background:
        linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, black 25%, transparent 25%),
        linear-gradient(45deg, black 25%, transparent 25%);
    background-size: 2em 2em;
    background-color: #232323;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    width: 100vw;
    min-height: 75vh;
}

/* up to small tablets*/
@media only screen and (max-width: 425px) {
    .smImg {
        width: 250px;
        height: 250px;
    }
}