/*html */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background-color: rgb(42, 42, 42);
    flex-direction: column;
    overflow: scroll;
}

.btn {
    border-radius: 4px;
}

a {
    outline: none !important;
}

/* nav/header */
.bg-header {
    background: url('../img/lighthouse.jpg') no-repeat fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
}

.navbar {
    padding: 3px 16px;
    position: fixed;
    transition: 1000ms ease;
}

.bg {
    background-color: black;
}

.navbar .navbar-nav .active {
    font-size: 18px;
    font-weight: 600;
}

.navbar-nav li a {
    font-size: 14px;
    font-weight: 400;
    color: white;
    outline: none;
}

.active {
    opacity: 1;
}

.navbar-nav .nav-item .nav-link {
    transition: 1000ms ease;
}

.navbar-nav .nav-item .nav-link:hover {
    transition: 1000ms ease;
    font-size: 18px;
}

.navbar-dark .navbar-toggler:hover,
.navbar-dark .navbar-toggler:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 1000ms ease;
}

.dropdown-item {
    color: #000 !important;
}

button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.center {
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.bottom-right {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.bottom {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

#bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section h1 {
    margin-top: 2rem;
}

/* consulting section */
.consulting-section {
    background-color: rgb(42, 42, 42);
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    width: 100vw;
    min-height: 100vh;
}

.services {
    position: relative;
}

.consulting-section .card {
    background-color: rgb(0, 100, 160);
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.consulting-section p {
    font-family: 'Montserrat', sans-serif;
}

.icon {
    height: 100px;
    width: 100px;
}

.footer-icon {
    height: 50px;
    width: 50px;
    background-color: white;
}

.page-footer {
    color: #ffffff;
}

.page-footer ul {
    list-style-type: none;
}

/* review section */
.review-section {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    background-color: rgb(0, 100, 160);
    color: #ffffff;
    width: 100vw;
    min-height: 100vh;
}

.review-section .card {
    background-color: rgb(20, 70, 89);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

.piCard {
    height: 500px;
}

.piCard .accordion-button {
    color: #000;
}

.piBtn {
    background-color: #ffffff;
}

.dwmmCard,
.calmaCard {
    background-color: #ffffff !important;
    color: #000 !important;
}

.dwmmCard .accordion-button,
.dwmmCard .btn,
.calmaCard .accordion-button,
.calmaCard .btn {
    background-color: rgb(20, 70, 89);
    color: #ffffff;
}

.review-section .card .accordion-body {
    color: #000000;
}

.span-text {
    color: rgb(102, 184, 217) !important;
}

/* words and contact form section */
.span-text {
    color: rgb(102, 184, 217) !important;
}

.contact-section {
    background:
        linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, black 25%, transparent 25%),
        linear-gradient(45deg, black 25%, transparent 25%);
    background-size: 2em 2em;
    background-color: #232323;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    width: 100vw;
    min-height: 75vh;
}

/* who we are section */
.who-section {
    font-family: 'Libre Baskerville', serif;
    background-color: rgb(42, 42, 42);
    color: #ffffff;
    width: 100vw;
    min-height: 100vh;
}

.who-section .card {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 14px #00000029;
    border-radius: 18px;
    padding: 0 20 20 20;
    position: relative;
    z-index: 2;
}

.card-pic {
    max-width: 540px;
    height: auto;
}

.btn-color {
    background-color: rgb(42, 42, 42);
    color: #ffffff;
}

/* mobile phones and up */
@media only screen and (min-width: 320px) {
    .bg-header {
        background: url('../img/lighthouse.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
    }

    .middle {
        position: absolute;
        bottom: 30%;

    }

    .flex-thirds {
        margin: 2rem 0;
    }

    .mbtn {
        /* //modal button */
        background-color: #ffffff;
        color: #000000;
    }
}

/* tablet and up  */
@media only screen and (min-width: 600px) {
    .middle {
        position: absolute;
        top: 40%;
        left: 50%;
        max-width: 90vw;
    }
}

/* small desktop and up  */
@media only screen and (min-width: 980px) {
    .middle {
        position: absolute;
        top: 40%;
        left: 50%;
        max-width: 80vw;
    }

    .values-section {
        font-size: 94px;
    }
}

/* large desktop and up  */
@media only screen and (min-width: 1200px) {
    .middle {
        position: absolute;
        top: 40%;
        left: 50%;
        max-width: 80vw;
    }

    .values-section {
        font-size: 5rem;

    }
}