@charset "UTF-8";
// Color
@import "components/color-variables";
@import "components/color-classes";
// Variables;
@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";

 //nav
 .logo{
    height: 55px;
     background-position: center;
    top: 0%;
 }
 nav{
     margin-bottom: 50px;
 }
 
 //html
 body{
     background-color: $primary-color;
     flex-direction: column;;
 }

//values section
.values-section{
    font-family: $libre;
    background-color: $primary-color;
    color: white;
    height: 100vh;
    width: 100vw;
}
.who-section{
    background-color: $quaternary;
    width: 100vw;
}
//about section
.about-section{
    font-family: $monst;
    font-weight: $flight;
    background-color: $secondary-color;
    color: #000000;
    width: 100vw;
}
.left{
    left: 10px;
    
}
.right{
    right: 10px;
    
}

.span-text{
    color: $quaternary !important;
}
.mbtn{
    //modal button
    background-color: $tertiary;
}
.modal{
    background-color: $primary-color;
    color: $quaternary;
    .modal-footer{
    background-color: $primary-color;
    .btn-flat{
        color: $quaternary;
    }
}
}





//reviews
.review-section{
    background-color: $primary-color;
}
h3{
    color: #ffffff;
}
.carousel{
    .card{
        background-color: $primary-color;
    }
    a{
        background-color: $tertiary;
    }
    .card-reveal{
        background-color: $secondary-color;
        color: #ffffff;
    }
    
}

.words-section{

}


//phone landscape and up size devices
@media only screen and (min-width: $landmobile){
   
}
//tablet and up 
@media only screen and (min-width: $tablet){
   
}