@charset "UTF-8";
// Color
@import "components/color-variables";
@import "components/color-classes";
// Variables;
@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";




 //overlay

 .main-header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/overlay.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
}

#obtn{
    position: absolute;
    top: 90%;
    left: 45%;
}


//values section
.values-section{
    font-family: $libre;
    background-color: $primary-color;
    color: white;
}

//about section
#about{
    font-family: $monst;
    font-weight: $flight;
    background-color: $secondary-color;
    color: $greytext;
}
.left{
    left: 10px;
    margin: 5rem;
}
.right{
    right: 10px;
    margin: 5rem;
}
.center{
    top: 50%;
    left: 50%;
    margin: 5rem;
}





//phone landscape and up size devices
@media only screen and (min-width: $tablet){
    .main-header {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/overlay.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        
    
    }
}