@charset "UTF-8";
// Color
@import "components/color-variables";
@import "components/color-classes";
// Variables;
@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";
@import url('https://fonts.googleapis.com/css?family=Ruda:900');
 .logo{
    height: 55px;
     background-position: center;
    top: 0%;
 }

 //html
 body{
     background-color: $primary-color;
     flex-direction: column;
 }

//values section
.values-section{
    font-family: $libre;
    background-color: $primary-color;
    color: #ffffff;
    height: 90vh;
    width: 100vw;
    background-color: $secondary-color;
    opacity: 0.8;
   
}
.foto{
    background: url('../img/stgo_skyline.jpg') no-repeat fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    
    

  
}
.bottom-left{
    position: absolute;
    bottom: 20%;
    left: 10%;
}
.bottom-right{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

//who we are section
.who-section{
    background-color: $quaternary;
    width: 100vw;
}


//about section
.about-section{
    background-color: $secondary-color;
}

//review section
.review-section{
    font-family: $monst;
    font-weight: $flight;
    background-color: $primary-color;
    color: #ffffff;
    width: 100vw;
    .card{
        background-color: $tertiary;
        color: #ffffff;
    }
    .card-reveal{
        background-color: $quaternary;
        color: #000000;
    }
}



.span-text{
    color: $quaternary !important;
}
.mbtn{
    //modal button
    background-color: $tertiary;
}
.modal{
    background-color: $primary-color;
    color: $quaternary;
    .modal-footer{
    background-color: $primary-color;
    .btn-flat{
        color: $quaternary;
    }
}
}
//consulting section
.consulting-section{
    background-color: $secondary-color;
    color: #ffffff;
    padding-bottom: 50px;
}

.icon{
    height: 50px;
    width: 50px;
    
}
//words and contact form section
.contact-section{
    
    background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323;
    color: #ffffff;
      
}



//tablet and up 
@media only screen and (min-width: $tablet){
    .middle{
        position: absolute;
        top: 40%;
        left: 50%;
    //    overflow-wrap: row;
       max-width: 90vw;
    }
  
}
//small desktop and up 
@media only screen and (min-width: $sdesk){
    .middle{
        position: absolute;
        top: 40%;
        left: 50%;
    //    overflow-wrap: row;
       max-width: 80vw;
    }
}
